DATABASE_URL
SESSION_SECRET
FRONTEND_URL
BACKEND_URL

PAYTURE_URL
PAYTURE_TERMINAL_RUB
PAYTURE_TERMINAL_USD
PAYTURE_TERMINAL_PASSWORD

NALOG_INN
NALOG_PASSWORD

S3_STORAGE_KEY_ID
S3_STORAGE_KEY_SECRET

MAIL_HOST
MAIL_PORT
MAIL_USER
MAIL_PASS

YOOKASSA_ID
YOOKASSA_SECRET
